@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

a {
    font-size: 20px;
}

header {
    background-color: rgb(230, 230, 230);
    padding: 30px;
    text-align: center;
    padding-top: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav li {
    display: inline-block;
    margin-right: 100px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(30, 30, 30);
    font-size: 30px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 750px;
    margin: auto;
}

.recept {
    border-top: 1px solid gray;
    padding-top: 36px;
}

li {
    margin-top: 15px;
}

#Bereiding {
    font-size: 15px;
}

#tip {
    background-color: #def6ed;
    margin-top: 10px;
    padding: 20px;
}

#tip a {
    font-size: 16px;
}