* {
    font-family: "Helvetica";
}

.container {
    max-width: 750px;
    margin: auto;
}

.recept {
    border-top: 1px solid gray;
    padding-top: 20px;
}

#Bereiding {
    font-size: 15px;
}

#tip {
    background-color: #e0f6ed;
    padding: 10px;
    margin-top: 20px;
}